
thead tr {
    //background-color:
}

caption {
    caption-side: top;
    text-align: center;
    padding-bottom: 3px;
    font-weight: bold;
    color: black;
    //background-color: #efefef;
}

table, tr, th, td {
    color: black;
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
}

table {
    border: 0.5px solid #cdcdcd;
}

tr {
    border-left: 0.5px solid #cdcdcd;
    border-top: 0.5px solid #cdcdcd;
}

th {
    font-weight: normal;
}

table.invisible-layout-table {
    border: none;
    width: auto;
}

table.invisible-layout-table tr, table.invisible-layout-table td {
    border: none;
}

td.field-name {
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: text-top;
}

.more-details-link {
    float: right;
}

td.number {
    text-align: right;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 90% !important;
}

td.nowrap {
    white-space: nowrap;
}