%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
%title=settings.site_title
%link{href:'https://fonts.googleapis.com', rel:'preconnect'}
%link{crossorigin:'true', href:'https://fonts.gstatic.com', rel:'preconnect'}
%link{href:"https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap",rel:"stylesheet"}

-# CSS
%link{rel:"stylesheet", href:'/css/bootstrap.css'}
%link{rel:"stylesheet", href:'/css/billboard.min.css'}
%link{rel:"stylesheet", href:'/css/insight.min.css'}
%link{rel:"stylesheet", href:'/css/main.css'}

-# Javascript
%script{src:"https://d3js.org/d3.v6.min.js"}
%script{src:"/js//billboard.min.js"}