%div.row
  %div.col-9
    %h1=settings.site_title
  %div.col-3
    %div#survey-id
      %form{action: "/surveys", method: "post"}
        %label Survey:
        %select{name: "survey_id"}
          - @surveys.each do |survey|
            %option{value: survey.id}= survey.name
        %input.btn.btn-sm.btn-secondary{type: "submit", value: "Select"}
%div.row
  %div.col
    %ul.nav
      %li.nav-item
        %a.nav-link{href: "/"} Home
      %li.nav-item
        %a.nav-link{href: "/repositories"} Repositories
      %li.nav-item
        %a.nav-link{href: "/surveys"} Surveys
      %li.nav-item
        %a.nav-link{href: "/consumers"} Consumers
