%table.table.table-bordered.sorted-table
  %caption
    = caption
  %thead
    %tr
    %th Name
    %th Owner
  %tbody
    - @repositories.each do |repository|
      %tr
        %td
          %a{href:"/repositories/#{repository.id}"}
            = repository.name
        %td
          = repository.owner

