%table.table.table-bordered.sorted-table
  %caption
    ="All consumers (#{@consumers.count} records)"
  %thead
    %tr
      %th Name
      %th Repositories
  %tbody
    - @consumers.each do |consumer|
      %tr
        %td
          %a{href:"/consumers/#{consumer.id}"}
            = consumer.name
        %td.number
          =consumer.survey_responses.count