%table.table.table-bordered
  %thead
    %tr
    %th ID
    %th Repository
    %th Timestamp
  %tbody
    - @survey.survey_responses.each do |sr|
      %tr
        %td
          %a{href: "/survey_responses/#{sr.id}"}
            =sr.id
        %td=sr.repository.name
        %td=sr.timestamp.strftime("%Y-%m-%d")

