%h2="Responses (#{@survey.survey_responses.count} records)"
%table.table.table-bordered
  %thead
    %tr
      %th Repository
      %th Timestamp
  %tbody
    - @survey.survey_responses.each do |sr|
      %tr
        %td
          %a{href: "/repositories/#{sr.repository.id}"}
            =sr.repository.name
        %td=sr.timestamp.strftime("%Y-%m-%d")

